@model PagedList.IPagedList<Rollin.Add_Entity.Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Select Category</h2>

<button class="success">
    @Html.ActionLink("Create New", "Create")
</button>

<style>
    body {
        background-image: url('../../CoverPhoto/Cover3.jpg');
        Background-repeat: no-repeat;
        Background-size: cover;
    }


     .success {
        text-decoration:none;
        border-color:lightgray;
        color: black;
    }

</style>


@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
  
    <p style="float:right;">
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" placeholder="What are you looking for?"/>
    </p>
}

<table class="table">
    <tr class="info">
        <th>
            @Html.ActionLink("Category Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
